[package]
name = "vst"
version = "0.1.0"
edition = "2018"

[dependencies]
vst = { version = "0.2.1", optional = true }

[lib]
name = "boucle_vst"
crate-type = ["cdylib"]

[features]
boucle_vst = ["vst"]
